
<ion-header>

  <ion-navbar>
     <ion-title class="signup">{{'Sign Up'|translate}}<br><span class="personal">{{'(Personal Account)'|translate}}</span><br>
      <span class="locationstitle">{{'Locations'|translate}}</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div style="margin-top: 30px;">
  <ion-row *ngFor="let location of person.locations;let i=index">
    <button ion-button clear class="locationbtn">
      {{ location.address}}
      <img class="pin" src="assets/imgs/Mappin2.png"></button>
  </ion-row>
  <ion-row >
    <button ion-button clear class="locationbtn" (click)="gomap()">
      {{'Add Location' | translate}}
      <img class="pin" src="assets/imgs/Mappin2.png"></button>
  </ion-row>
</div>
<button *ngIf="person.locations.length > 0" ion-button round clear class="confirm" (click)="confirm()">{{'Confirm'|translate}}</button>
</ion-content>
