page-serv-chat {
.content{
background-color: $color-background2;
}
img{  
height: 40px;
width: 40px;
margin: 5px;
margin-top: 27px;
}
.toolbar-title {
    color: rgba(66, 66, 66, 0.67);
    font-size: 1.7rem;
    text-align: center;
     padding-right: 0px !important; 
}
.text{
background-color: white;
height: 100px;
width: 100%;
padding: 10px;
border: none;
border-radius: 10px;
box-shadow: 0 0 1px grey;
font-size: 1.8rem;
color: black;
text-align: start;
}
.text2{
background-color:rgba(255, 145, 0, 0.76);
height: 100px;
width: 100%;
padding: 10px;
border: none;
border-radius: 10px;
box-shadow: 0 0 1px grey;
font-size: 1.8rem;
color: white;
text-align: start;
}
.call{
    color: rgba(255, 145, 0, 0.76);
    font-size: 2.5rem;
}
.textbuttom{
    width: 100%;
    border-radius: 9px;
    padding: 1px;
    font-size: 1.3rem;
}
.camera{
    font-size: 4rem;
    margin-right: 10px;
    margin-left: 10px;
    color: $color-sky;
}
.grayrow{
    background-color: rgba(128, 128, 128, 0.62);
}
.chatfooter{
    position: fixed;
}
}